/* Style général pour la fenêtre */

.root {
    -fx-background-color: #f5f5f5; /* Beige clair */
    -fx-padding: 20; /* Espace autour du contenu */
}

.label{
    -fx-background-color: rgba(46, 139, 87, 0.7);
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

/* Style pour les en-têtes */
.header-bar {
    -fx-background-color: #2e8b57; /* Vert forêt */
    -fx-padding: 15;
}

.table-view .column-header {
    -fx-font-size: 10px; /* Ajustez la taille de la police ici */
    -fx-font-weight: normal; /* Optionnel : Définir le poids de la police (normal, bold, etc.) */
    -fx-text-fill: black; /* Optionnel : Couleur du texte */
}

.header-label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-background-color: rgba(46, 139, 87); /* Vert forêt */
    -fx-padding: 10; /* Espace intérieur autour du texte */
    -fx-border-color: white; /* Bordure blanche */
    -fx-border-width: 3; /* Épaisseur de la bordure */
    -fx-border-radius: 10; /* Coins arrondis pour la bordure */
    -fx-background-radius: 10; /* Coins arrondis pour l'arrière-plan */
}

.button {
    -fx-background-color: rgba(46, 139, 87, 0.7); /* Vert forêt */
    -fx-text-fill: white; /* Texte blanc */
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-border-radius: 5; /* Coins arrondis */
    -fx-border-color: white; /* Bordure blanche */
    -fx-border-width: 2; /* Épaisseur de la bordure */
    -fx-cursor: hand; /* Curseur en forme de main */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.3, 0, 1); /* Ombre légère */
    -fx-transition: all 0.3s ease; /* Transition fluide */
}

/* Boutons au survol*/
.button:hover {
    -fx-background-color: #228b22; /* Vert plus foncé */
    -fx-scale-x: 1.1; /* Agrandir légèrement */
    -fx-scale-y: 1.1;
}

/* Style pour les conteneurs */
.container {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-border-radius: 10; /* Coins arrondis */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0); /* Ombre */
}






